.main-nav-bar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(233, 233, 233);
}
.nav-bar-container {
  width: 80%;
  height: 45px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-right {
  height: 100%;
  position: relative;
}

.nav-bar-flex-1 {
  flex: 1;
}
