.home-outer-first {
  display: flex;
  height: 530px;
  width: 80%;
  margin: auto;
}
.home-left {
  flex: 1;
}
.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.home-left h1 {
  /* text-align: center; */
  line-height: 55px;
  font-weight: 700;
  margin-top: 100px;
  letter-spacing: 1px;
  font-size: 50px;
}
.home-left p {
  font-size: 16px;
}

.home-illustration {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .home-outer-first {
    flex-direction: column;
  }
}
