.dashboard-container {
  width: 90%;
  max-width: 1300px;
  margin: 30px auto;
}
.dashboard-statistic {
  padding: 20px;
  display: flex;
}
.booking-url-container {
  /* display: flex; */
  padding: 15px;
  margin-top: 20px;
}
.dashboard-list {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.dashboard-list > div {
  width: 32%;
  /* height: 460px; */
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.dashboard-list .dashboard-list-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.dashboard-list > div hr {
  border-width: 0px;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
